body {
    background-image: url("/home/christine/Pictures/6-rose-watercolor-painting.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  